/* CSS Rulesets consist of the three parts*/
/* 1:Selector to the select what element you're styling */
/* 2: Declaration block where your CSS go */
/* 3: Declaration of CSS rules inside the declaration block*/

table, th, td {

    border-width: 1px;
    border-color: black;
    border-style: solid;
    border-collapse: collapse;
    /* set the width of table elements to 100% of the width of the parent element*/
}
table { 
    width:100%;
    /* set the background color of the table element to white */
    background-color: White;
 }
/* Aligning the text for the h1 to center */
 h1 {
     text-align: center;
 }
  th {
      /* Upping the font size for the table header */
      font-size: 20pt;
      /* Underline the table headers */
      text-decoration: underline;
  }
  td { 
      /* Center the text for the table data elements */
      text-align: center;
      /* Upping the font size for the table data elements */
      font-size: 16pt;
  }